[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "==7.4.2"
pytest-cov = "4.1.0"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
